

.nav_banner {
    min-height: 18vh;
}

.collections-dropdown-menu {
    position: relative;
    display: none;
}

.nav-item:first-of-type {
    margin-left: 3vw !important;
}

.nav-item {
    height: 3vh;
}

.my-nfts-button {
    background-color: rgba(violet, 0.2);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

.my-nfts-button:hover {
    background-color: rgba(violet, 0.4);
}

.collections-dropdown-menu ul {
    flex-direction: column !important;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    padding-top: 5px;
    font-size: 1rem;
}

.collections-dropdown-menu ul li {
    display: flex;
    margin: 0;
    height: 5vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s;
}

.collections-dropdown-menu ul li a {
    text-decoration: none;
    color: black;
}

.collections-dropdown-menu ul li:hover {
    background-color: #ccc;
}

.collections-nav-item:hover {
    .collections-dropdown-menu {
        display: block;
    }

    
}

.site-logo p {
    margin: 0;
    color: white;
    padding: 0;
    text-align: right;
}

.main-navbar-items {
    padding: 0;
}

.hamburger-menu {
    display: none;
    i {
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
}

.mobile-nav-item {
    color: black;
}

@media(max-width: 900px){
    

    .hamburger-menu {
        display: flex;
        justify-self: flex-end;
        width: 80vw;
        justify-content: flex-end;
    }

    .main-navbar-items .nav-item {
        display: none;
    }
}